@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Meow+Script&family=Neonderthaw&family=Open+Sans:wght@500&family=Orbitron&family=Supermercado+One&display=swap');

html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: 'Supermercado One', cursive;
  background-color: aqua;
  width: 100%;
}

ol, ul {
  list-style: none;
}

.title{
  position: relative;
  top: 50px;
  text-align: center;
  font-size: 70px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  height: 100px;
}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_input{
  width: 300px;
  height: 45px;
  border: none;
  border-radius: 5%;
}

.search_input[placeholder]{
  font-size: 20px;
  font-family: inherit;
}

.search_btn{
  margin-left: 5px;
  border: none;
  border-radius: 8%;
  width: 50px;
  height: 40px;
  background-color: blueviolet;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.search_btn:hover{
  position: relative;
  top: 1px;
  background-color:purple;
}

.gifs_container{
  display: flex;
  flex-wrap: wrap;
}

img{
  width: 100%;
}

.my-masonry-grid {
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  margin: 5% 10%;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 10px; 
  background-clip: padding-box;
}

.my-masonry-grid_column > div { 
  padding-bottom: 5px;
}